<div class="container gap" style="min-height:300px;">
	<div class="row">
        <!-- 左侧列表内容 -->
        <div class="col-xs-12 col-md-8 gap" style="min-height:400px;">
            <h3>1. 灵活的模块分层</h3>
            <div class="list media-list border border-rounded">
                <div class="content">
                    <div class="item-left rotate-content">
                        
                    </div>
                    <div class="item-body">
                        <div class="title-lg"><a href="/demo/a/b/c/d.html">demo模块: /a/b/c/d.html</a> </div>
                        <p class="feeds-item-text1">/demo/a/b/c/d.html</p>
                        <p style="display:none;"><span class="desc">2017-06-26 20:29</span></p>
                    </div>
                </div>
                <div class="content">
                    <div class="item-left rotate-content">
                        
                    </div>
                    <div class="item-body">
                        <div class="title-lg"><a href="/demo/demo2/a/b/c/d.html">demo/demo2模块: /demo/demo2/a/b/c/d.html</a> </div>
                        <p class="feeds-item-text1">/demo/demo2/a/b/c/d.html</p>
                        <p style="display:none;"><span class="desc">2017-06-26 20:29</span></p>
                    </div>
                </div>
            </div>
            
            <h3>2. 灵活的控制器分层</h3>
            <div class="list media-list border border-rounded">
                <div class="content">
                    <div class="item-left rotate-content">
                        
                    </div>
                    <div class="item-body">
                        <div class="title-lg"><a href="/demo/a.html">控制器A: /a.html</a> </div>
                        <p class="feeds-item-text1">/demo/a.html</p>
                        <p style="display:none;"><span class="desc">2017-06-26 20:29</span></p>
                    </div>
                </div>
                <div class="content">
                    <div class="item-left rotate-content">
                        
                    </div>
                    <div class="item-body">
                        <div class="title-lg"><a href="/demo/a/b.html">控制器A/B: /a/b.html</a> </div>
                        <p class="feeds-item-text1">/demo/a/b.html</p>
                        <p style="display:none;"><span class="desc">2017-06-26 20:29</span></p>
                    </div>
                </div>
                <div class="content">
                    <div class="item-left rotate-content">
                        
                    </div>
                    <div class="item-body">
                        <div class="title-lg"><a href="/demo/a/b/c.html">控制器A/B/C: /a/b/c.html</a> </div>
                        <p class="feeds-item-text1">/demo/a/b/c.html</p>
                        <p style="display:none;"><span class="desc">2017-06-26 20:29</span></p>
                    </div>
                </div>
                <div class="content">
                    <div class="item-left rotate-content">
                        
                    </div>
                    <div class="item-body">
                        <div class="title-lg"><a href="/demo/a/b/c/d.html">控制器A/B/C/D: /a/b/c/d.html</a> </div>
                        <p class="feeds-item-text1">/demo/a/b/c/d.html</p>
                        <p style="display:none;"><span class="desc">2017-06-26 20:29</span></p>
                    </div>
                </div>
            </div>
            
            <h3>3. 灵活的路由机制</h3>
            <div class="list media-list border border-rounded">
                <div class="content">
                    <div class="item-left rotate-content">
                        
                    </div>
                    <div class="item-body">
                        <div class="title-lg"><a href="/demo/a-b.html">重写/demo/a-b.html 到 /demo/a/b.html</a> </div>
                        <p class="feeds-item-text1">/demo/a-b.html</p>
                        <p style="display:none;"><span class="desc">2017-06-26 20:29</span></p>
                    </div>
                </div>
                <div class="content">
                    <div class="item-left rotate-content">
                        
                    </div>
                    <div class="item-body">
                        <div class="title-lg"><a href="/demo/a-b-c.html">重写/demo/a-b-c.html 到 /demo/a/b/c.html</a> </div>
                        <p class="feeds-item-text1">/demo/a-b-c.html</p>
                        <p style="display:none;"><span class="desc">2017-06-26 20:29</span></p>
                    </div>
                </div>
                <div class="content">
                    <div class="item-left rotate-content">
                        
                    </div>
                    <div class="item-body">
                        <div class="title-lg"><a href="/demo/a-b/c.html">重写/demo/a-b/c.html 到 /demo/a/b/c.html</a> </div>
                        <p class="feeds-item-text1">/demo/a-b/c.html</p>
                        <p style="display:none;"><span class="desc">2017-06-26 20:29</span></p>
                    </div>
                </div>
            </div>
            
            <h3>4. 简洁易用的基础组件</h3>
            <div class="list media-list border border-rounded">
                <div class="content">
                    <div class="item-left rotate-content">
                        
                    </div>
                    <div class="item-body">
                        <div class="title-lg"><a href="javascript:;"></a> 实现了轻量易用的基础组件</div>
                        <p class="feeds-item-text1">logger, cache, session, redis, image处理, qrcode</p>
                        <p style="display:none;"><span class="desc">2017-06-26 20:29</span></p>
                    </div>
                </div>
            </div>
            
            <h3>5. 自由扩展机制</h3>
            <div class="list media-list border border-rounded">
                <div class="content">
                    <div class="item-left rotate-content">
                        
                    </div>
                    <div class="item-body">
                        <div class="title-lg"><a href="javascript:;"></a> 自由扩展机制</div>
                        <p class="feeds-item-text1">采用IOC机制，应用可自由替换基础组件。采用组件管理器模式，根据某个可选的key值实例化不同的组件。</p>
                        <p style="display:none;"><span class="desc">2017-06-26 20:29</span></p>
                    </div>
                </div>
            </div>
	    </div>
	    
	    <!-- 右侧内容 -->
        <div class="col-xs-12 col-md-4 gap"> 
            <div class="list icon-square border border-rounded">
                <h5 class="module-title">文章分类</h5>
                {widget:common action="kind" account_id="$account['account_id']" name="article_cat" num="10" amount="1" "echo="1"}
            </div>
        </div>
	</div>
</div>  
 


